        <input type="checkbox">
        <h2>Make the curriculum <%= 3+1 %> pomodoros</h2>
        <span class="pomodoro-estimate large-pomodoro-estimate"><%= @todo_pomodoro_estimate %> Pomodoros</span>
        <a href="#">Edit</a>
        <a href="#">Delete</a>
        <a href="index.html">Go Back...</a>
        <h3>Todo #<%= params[:id] %></h3>